@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-gradient-black-gold {
  background: linear-gradient(141.77deg, #E9C46A 2.6%, #264653 43.75%)
}

.bg-gradient-black-green {
  background: linear-gradient(141.77deg, #264653 3.65%, #2A9D8F 43.75%)
}

.bg-gradient-orange-red {
  background: linear-gradient(141.77deg, rgba(255, 90, 61, 0.8) 17.19%, #E9C46A 100%)
}

body {
  @apply max-w-sm mx-auto antialiased
}
